.activities{
  padding-top: 48px;
  background-color: #e6c97d rgba(255, 255, 255, 1);
  padding-inline: 24px;
}
.activities h1{
  text-align: center;
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 600;
  color: #ff9966;
  text-transform: capitalize;
  font-size: 2.2rem;
}
.newFex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding-top: 50px;
}

.back_img {
  width: 15%;
  border-style: solid;
  border-color: #ff9966;
  border-radius: 5px;
}
.front_img {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #ff9966;
  border-radius: 5px;
}
.card {
  overflow: visible;
  width: 525px;
  height: 400px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front,
.back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: " ";
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(
    90deg,
    transparent,
    #ff9966,
    #ff9966,
    #ff9966,
    #ff9966,
    transparent
  );
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
.card-container {
  max-width: 100vw;
  /* max-height: 25vh; */
  margin: auto;
  padding-bottom: 64px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.client {
  text-align: center;
  margin-top: 148px;
  padding-top: 50px;
  background-color: #e6c97d;
  position: relative;
  width: 100%;
}
.client-gradient{
  position: absolute;
  top: -100px;
  width: 100%;
  height: 100px;
}
.client-gradient-second{
  position: absolute;

  width: 100%;
  height: 100px;
  transform: rotate(180deg);
  bottom: -100px;
}
.client-gradient svg,
.client-gradient-second svg{
  height: 100px;
  width: 100%;
}
.client_card {
  background-color: rgb(255, 255, 255);
  color: #000;
  text-align: center;
  padding-inline: 24px;
  padding-top: 48px;
  padding-bottom: 16px;
  margin-top: 4%;
  border-radius: 8px;
  box-shadow: 10px 10px 32px #dedede;
  width: 380px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.client_card > p,
.client_content > p {
  font-family: "Poppins", serif;
  font-size: 14px;
  opacity: 0.9;
}

.client_card:hover {
  cursor: pointer;
  transform: translateY(-20px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}



.client h1 {
  text-align: center;
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  font-size: 2.2rem;
}

.para_gap1 {
  margin-bottom: 5px;
}
.client_content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
.para_gap2 {
  margin-bottom: 30px;
}

.para_gap3 {
  margin-bottom: 2px;
}

.bar {
  border-bottom: 1.5px solid #49a078;
  width: 15%;
  margin: auto;
  margin-top: 20px;
  display: block;
}

.bar_cc {
  border-bottom: 1px solid #03630e;
  width: 20%;
  margin-top: 25px;
  margin-bottom: 22px;
  margin-left: 40%;
  display: block;
}

.client_img {
  width: 64px;
  height: 64px;
  border-style: solid;
  border-color: #03630e;
  border-radius: 100px;
}
/* 
.client_img1 {
  width: 34%;
}

.client_img2 {
  width: 35%;
}

.client_img3 {
  width: 35%;
} */

@media screen and (max-width: 930px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
  .client_card {
    /* padding: 64px; */
   
  }
}

@media screen and (max-width: 530px) {
  .card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .client_card {
    padding-inline: 24px;
    padding-block: 48px;
    max-width: 90vw;
  }
}
