/* Global Reset and Font Settings */
* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

/* Background Color for the Body */
body {
  background-color: #eef8ff;
}

/* Footer Container Styling */
.footer {
  width: 100%;
  background: linear-gradient(to right, rgb(150, 106, 23), #fbcf6f);
  color: #fff;
  padding: 60px 20px 30px;
  border-top-left-radius: 80px;
  font-size: 13px;
}

/* Footer Layout using Flexbox */
.footer-content {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

/* Column Styling for Responsive Layout */
.footer-col {
  flex-basis: 23%;
  margin: 10px 0;
}

/* Footer Logo and Description Styling */
.logo-footer {
  width: 180px;
  height: auto;
  margin-bottom: 10px;
}

.footer-description {
  font-size: 20px;
  line-height: 1.6;
}

/* Social Media Icons Styling */
.social-icons a {
  display: inline-block; 
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  /* font-size: 18px; */
  color: #000;
  background: #fff;
  margin-right: 10px; 
  transition: all 0.3s ease; 
}

.social-icons a:hover {
  color: #fff;
  background: rgb(150, 106, 23);
}

/* Column Heading Styling */
.footer-col h3 {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Contact Details and Email Styling */
.contact-col p {
  margin: 5px 0;
}

.email-id {
  display: inline-block;
  border-bottom: 1px solid #ccc;
  margin: 5px 0;
}

/* Link Styles */
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: #fbcf6f;
}

.map-col{
  min-width: 250px;
}

/* Map Styling */
.location-map {
  width: 100%;
  max-width: 300px;
  height: 200px;
  border: none;
  margin-top: 10px;
}
