* {
  box-sizing: border-box !important;
  margin: 0px;
  padding: 0px;
}

/* .ff-poppins{
  font-family: "Poppins", serif;
  font-style: normal;
} */

li,
a {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.header-container{
  position: relative;
}
header {
  position: relative;
  background-color: bisque;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
  height: 72px;
}

.logo {
  margin-left: -80px;
  cursor: pointer;
  width: 325px;
  height: 230px;
}
.nav_nav {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  color: brown;
  padding: 8px 8px;
}
.nav_links li a:hover {
  color: rgb(0, 0, 0);
  background-color: #e6c97d;
  border-radius: 4px;
}
.buttn {
  font-size: 18px;
}
.nav_links1 {
  list-style: none;
  background-color: rgb(223, 163, 84);
  padding: 8px 12px;
  border-radius: 4px;
}

.nav_links1 li a {
  color: #eee;
  padding-top: 3px;
  font-weight: 500;
}

.nav_links1:hover {
  background-color: rgb(223, 172, 106);
}


.hamburger {
  display: block;
  z-index: 4;
}

.nav_links_mobile{
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;
  padding-left: 24px;
  background-color: bisque;
  z-index: 100;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 72px;
  overflow: hidden;
  transition: height 250ms ease;
}
.nav_links_mobile li a{
  color: brown;
  font-size: 16px;
}
.hide-mobile-nav{
  height: 0px;
}
.show-mobile-nav{
  padding-block: 1rem;
  height: 250px;
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
  }
  .nav_nav{
    display: flex;
  }
  .hamburger{
    display: none;
  }

}